{% extends "base.html" %}
{% block title %} Thank you! {% endblock %}

{% block content %}
<div class="row justify-content-center">
    <p class="display-4 text-light mt-4">Your responses were absolutely <strong>✨perfect✨</strong></p>
    <h5 class="text-light mt-3">Now go have a good rest of your day❤️</h5>
</div>

<div class="row justify-content-center mt-5">
    <a class="btn btn-outline-primary" href="/home">
        <h5 class="text-light mt-2" type="button">Take another one?</h5>
    </a>
</div>
{% endblock %}